* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
}


.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

main {
    overflow: auto;
    min-height: 40vh;
    padding: 20px;
}

p {
    margin-bottom: 1em;
}

header {
    background-color: #464759;
    padding: 20px;
    border-bottom: 5px solid #757575;
}

header h1 {
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px #444;
}

nav {
    background-color: #464646;
}

nav ul {
    display: table;
    width: 100%;
    list-style-type: none;
}

nav li {
    display: table-cell;
    text-align: center;
}

nav a {
    display: block; 
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #3a3a3a;
    color: #ddd;
}


form {
    overflow: auto;
    clear: both;
    display: block;
    margin-top: 20px;
}

form label {
    float: left;
    width: 15em;
    padding-top: 0.5em; 
    clear: left;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    float: left;
    width: 20em; 
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    margin-left: 15em; 
    width: auto;
    padding: 0.7em 1.5em;
    clear: both;
    font-size: 1em;
    background-color: #3cbc8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #2e9a72;
}


blockquote {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
}

blockquote p {
    display: table-cell;
    width: 80%;
    vertical-align: top;
}

blockquote .actions {
    display: table-cell;
    width: 20%;
    text-align: right;
    vertical-align: middle;
}


.errors {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid red;
    background-color: #fff2f2;
    color: #c51212;
    border-radius: 5px;
    overflow: auto;
}

.errors ul {
    margin-left: 1.5em;
}


footer {
    padding: 1.5em;
    background-color: #FFC9A7;
    font-size: 0.8em;
    text-align: center;
    border-top: 5px solid #757575;
}